modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[env]
PORT = "5000"

[agent]
integrations = ["javascript_gemini:1.0.0", "firebase_barebones_javascript:1.0.0"]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Game"

[[workflows.workflow]]
name = "Start Game"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36329
externalPort = 3003

[[ports]]
localPort = 38761
externalPort = 6800

[[ports]]
localPort = 43893
externalPort = 4200

[[ports]]
localPort = 43987
externalPort = 5173

[[ports]]
localPort = 44869
externalPort = 5000

[[ports]]
localPort = 45143
externalPort = 3000

[[ports]]
localPort = 45653
externalPort = 3001

[[ports]]
localPort = 45991
externalPort = 3002

[[ports]]
localPort = 46099
externalPort = 6000
